# Python Caches
*__pycache__/
*.py[cod]

# Executables (Do NOT upload test files like boy.exe to GitHub, they will flag your repo as malicious)
*.exe
*.dll

# Large Datasets
*.csv
MalwareData.csv

# Virtual Environments
venv/
env/
.venv/

# OS / IDE Files
.vscode/
.idea/
.DS_Store
desktop.ini

# Build Artifacts
build/
dist/

# Project Specific
data/models/
data/cache/
test_samples/
!data/models/ember_model_2018.txt
